.registration-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./img/back.jpg');
  background-position: bottom;
  height: 684px;
  background-size: cover;

  @include media-breakpoint-down(phone) {
    background: none;
    margin-top: 20px;
  }
}
