extends ../templates/ui-kit-template
include ../../../components/components

block content
  .form-elements
    .top-row
      .left-column
        .left-column__item-1
          +input({
            type: 'email',
            size: 'big',
            placeholder: 'Email',
            arrow: false,
            dropdown: {existence: false, open: false, type: null},
            title: 'Text Field',
            hover: 'regular',
            clarification: 'Default',
            isMasked: false,
          })
        .left-column__item-2
          +input({
            type: 'text',
            size: 'big',
            placeholder: 'This is pretty awesome',
            arrow: false,
            dropdown: {existence: false, open: false, type: null},
            title: 'Text Field',
            hover: 'hovered',
            clarification: 'Hover / Focus',
            isMasked: false,
          })
        .left-column__item-3
          +input({
            type: 'text',
            size: 'big',
            placeholder: 'Сколько гостей',
            arrow: false,
            dropdown: {existence: true, open: false, type: null},
            title: 'Dropdown',
            hover: 'regular',
            clarification: '',
            isMasked: false,
          })
        .left-column__item-4
          +input({
            type: 'text',
            size: 'big',
            placeholder: 'ДД.ММ.ГГГГ',
            arrow: false,
            dropdown: {existence: false, open: false, type: null},
            title: 'masked text field',
            hover: 'regular',
            clarification: '',
            isMasked: true,
          })
        .left-column__item-5
          .left-column__item-5--fitst-elem
            +input({
              type: 'text',
              size: 'xsmall',
              placeholder: 'ДД.ММ.ГГГГ',
              arrow: false,
              dropdown: { existence: true, open: false, type: null },
              title: 'date dropdown',
              hover: 'regular',
              clarification: '',
              isMasked: false,
            })
          +input({
            type: 'text',
            size: 'xsmall',
            placeholder: '19.08.2019',
            arrow: false,
            dropdown: { existence: true, open: false, type: null },
            title: 'date dropdown',
            hover: 'regular',
            clarification: '',
            isMasked: false,
          })
        .left-column__item-6
          +input({
            type: 'text',
            size: 'medium',
            placeholder: '19 авг - 23 авг',
            arrow: false,
            dropdown: { existence: true, open: false, type: null },
            title: 'filter date dropdown',
            hover: 'regular',
            clarification: '',
            isMasked: false,
          })
        .left-column__item-7
          +input({
            type: 'email',
            size: 'medium',
            placeholder: 'Email',
            arrow: true,
            dropdown: { existence: false, open: false, type: null },
            title: 'subscription text field',
            hover: 'regular',
            clarification: '',
            isMasked: false,
          })
        .left-column__item-8
          +input({
            type: 'text',
            size: 'medium',
            placeholder: '2 спальни, 2 кровати...',
            arrow: false,
            dropdown: { existence: true, open: true, type: null },
            title: 'dropdown',
            hover: 'regular',
            clarification: 'default',
            isMasked: false,
          })
        .left-column__item-9
          +input({
            type: 'text',
            size: 'medium',
            placeholder: '2 спальни, 2 кровати...',
            arrow: false,
            dropdown: {existence: true, open: true, type: null},
            title: 'dropdown',
            hover: 'hovered',
            clarification: 'expanded',
            isMasked: false,
          })
          +dropdown([{name: 'спальни', count: 2}, {name: 'кровати', count: 2}, {
            name: 'ванные комнаты',
            count: 0
          }], 'small', false, false)
        .left-column__item-10
          +checkbox({ existence: true, closed: true, data: [] }, 'expandable checkbox list')
        .left-column__item-11
          +checkbox({ buttons: false, closed: false, data: [
              { rich: false, header: '', text: 'Завтрак' },
              { rich: false, header: '', text: 'Письменный стол' },
              { rich: false, header: '', text: 'Стул для кормления' },
              { rich: false, header: '', text: 'Кроватка' },
              { rich: false, header: '', text: 'Телевизор' },
              { rich: false, header: '', text: 'Шампунь' },
            ] }, 'expandable checkbox list')
      .middle-column
        .middle-column__item-1
          +checkbox({
            buttons: true, closed: false, data: [
              {rich: false, header: '', text: 'Можно курить'},
              {rich: false, header: '', text: 'Можно с питомцами'},
              {rich: false, header: '', text: 'Можно пригласить гостей (до 10 человек)'},
            ]
          }, 'Checkbox Buttons')
        .middle-column__item-2
          .form-elements__header
            | Radio Buttons
          .middle-item-2__btns
            +radio('Мужчина', true)
            .middle-column__item-2--last
              +radio('Женщина', false)
        .middle-column__item-3
          .form-elements__header
            |Toggle
          .middle-item-3__first-toggle
            +toggle('Получать спецпредложения', true)
          +toggle('Получать спецпредложения', false)
        .middle-column__item-4
          .form-elements__header
            | like button
          .middle-item-4__btns
            +like({ likes: 2, isHovered: false })
            .middle-column__item-4--last
              +like({ likes: 12, isHovered: true })
        .middle-column__item-5
          .form-elements__header
            | rate button
          .middle-item-5__btns
            +rate(4)
            .middle-column__item-5--last
              +rate(5)
        .middle-column__item-6
          +input({
            type: 'text',
            size: 'big',
            placeholder: 'Сколько гостей',
            arrow: false,
            dropdown: {existence: true, open: true, type: null},
            title: 'dropdown',
            hover: 'hovered',
            clarification: '',
            isMasked: false,
          })
          +dropdown([{name: 'взрослые', count: 0}, {name: 'дети', count: 0}, { name: 'младенцы', count: 0}],
            'big', false, true)
        .middle-column__item-7
          +checkbox({
            buttons: true, closed: false, data: [
              {rich: true, header: 'Широкий коридор', text: 'Ширина коридоров в номере не\u00A0менее 91 см.'},
              {rich: true, header: 'Помощник для инвалидов', text: 'На 1 этаже вас встретит специалист и проводит до номера.'},
            ]
          }, 'rich Checkbox Buttons')
      .right-column
        .right-column__item-1
          .form-elements__header
            | Range Slider
        .right-column__item-2
          .form-elements__header
            | buttons
          .right-item-2__btns
            +button('button', 'body-btn', true, 'CLICK ME', '', 'small')
            .right-item-2__btns--last
              +button('button', 'body-btn', true, 'CLICK ME', 'dim', 'small')
          .right-item-2__btns
            +button('button', 'body-btn', false, 'CLICK ME', '', 'small')
            .right-item-2__btns--last
              +button('button', 'body-btn', false, 'CLICK ME', 'dim', 'small')
          .right-item-2__btns
            +linkBtn(false, 'CLICK ME')
            .right-item-2__btns--last
              +linkBtn(true, 'CLICK ME')
          +button('button', 'body-btn', true, 'перейти к оплате', '', 'big')
        .right-column__item-3
          .form-elements__header
            | pagination
          +pagination()
        .right-column__item-4
          +input({
            type: 'text',
            size: 'big',
            placeholder: '3 гостя',
            arrow: false,
            dropdown: {existence: true, open: true, type: null},
            title: 'dropdown',
            hover: 'hovered',
            clarification: '',
            isMasked: false,
          })
          +dropdown([{name: 'взрослые', count: 2}, {name: 'дети', count: 1}, {name: 'младенцы', count: 0}],
            'big', true, true)
        .right-column__item-5
          +bulletList('bullet list', ['Нельзя с питомцами',
            'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'])
    .bottom-row
      .bottom-left
        .bottom-left__item-1
          +details({
            title: 'Комфорт',
            text: 'Шумопоглощающие стены',
            img: 'insert_emoticon',
            isLastItem: false
          })
        .bottom-left__item-2
          +details({
            title: 'Удобство',
            text: 'Окно в каждой из спален',
            img: 'location_city',
            isLastItem: false
          })
      .bottom-right
        .bottom-right__item-1
          +people('murad.svg', 'Мурад Сарафанов', '5 дней назад')
        .bottom-right__item-2
          +review({
            likes: 12,
            text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
            isHovered: true,
          })
