@mixin headerH2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 23px;
  color: $dark100;
}

.apartments-preview {
  display: flex;
  justify-content: center;
}

.apartments-photos {
  display: flex;
  height: 483px;
  align-items: flex-start;

  @include media-breakpoint-down(tablet) {
    height: 350px;
  }
}

.big-photo {
  width: 981px;

  @include media-breakpoint-down(desktop) {
    display: none;
  }
}

.small-photos {

  &--first {
    position: absolute;

    @include media-breakpoint-down(tablet) {
      width: 320px;
    }
  }

  &--second {
    position: relative;
    top: 243px;

    @include media-breakpoint-down(tablet) {
      width: 320px;
      top: 200px;
    }
  }
}

.apartments-wrapper {
  margin-top: 70px;
  padding-bottom: 67px;
  border-bottom: 1px solid $dark25;
}

.apartments-description {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  @include media-breakpoint-down(desktop) {
    flex-direction: column;
    align-items: center;
  }
}

.apartments-text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.apartments-data {
  display: flex;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  @include media-breakpoint-down(tablet) {
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
}

.apartments-info {
  margin-bottom: 7px;

  &__header {
    @include headerH2;
    margin-bottom: 23px;
  }

  &__item {
    margin-bottom: 23px;
  }
}

.apartments-impression {
  margin-left: 81px;

  &__header {
    @include headerH2;
    margin-bottom: 20px;
  }

  &__data {
    display: flex;
    align-items: center;
  }

  @include media-breakpoint-down(tablet) {
    margin-left: 0;
  }
}

.impression-list {
  margin-left: 30px;
  margin-top: 28px;

  &__item {
    display: grid;
    grid-template-columns: 10px auto;
  }

  &__img {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: auto;

    &--great {
      background: $lg-orange;
    }

    &--good {
      background: $lg-green;
    }

    &--satisfactorily {
      background: $lg-purple;
    }

    &--disappointed {
      background: $lg-black;
    }
  }

  &__text {
    margin-left: 5px;
    color: $dark75;
  }
}

.apartments-reviews {
  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    @include media-breakpoint-down(tablet) {
      flex-direction: column;
      margin-bottom: 30px;
    }
  }

  &__bio {
    margin-bottom: 5px;
  }

  &__text {
    margin-bottom: 22px;
    margin-left: 3px;
  }

  @include media-breakpoint-down(tablet) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.reviews-header {
  &__title {
    @include headerH2;
    margin-bottom: 22px;
  }

  &__count {
    color: $dark50;
  }
}

.apartments-terms {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;

  &__rools {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(phone) {
      margin-bottom: 30px;
    }
  }

  &__canceling {
    display: flex;
    flex-direction: column;
    margin-left: 100px;

    @include media-breakpoint-down(tablet) {
      margin-left: 0;
    }
  }

  @include media-breakpoint-down(tablet) {
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.apartments-rools {
  &__header {
    @include headerH2;
    margin-left: 20px;
  }
}

.apartments-canceling {
  &__header {
    @include headerH2;
    margin-bottom: 18px;
  }

  &__text {
    max-width: 340px;
    color: $dark75;
    margin-left: 2px;
  }
}

.apartments-booking-block {
  margin-left: 69px;

  @include media-breakpoint-down(desktop) {
    margin-left: 0;
    margin-right: 0;
  }

  @include media-breakpoint-down(tablet) {
    margin-top: 50px;
  }
}
