.header
  img.header__logo(src="/src/UI_kit/headers_and_footers/images/logo.png")
  .header__links
    p.header__links__chosen О нас
    p.header__links__regular Услуги
    p.header__links__regular Вакансии
    p.header__links__regular Новости
    p.header__links__regular Соглашения
    block content
