mixin button(positionInPage, isGradient, size)
  - const gradientPosition = `${positionInPage}--gradient`
  - const whitePosition = `${positionInPage}--white`
  - const sizePosition = `positionInPage--${size}`

    if isGradient
      .gradientBack
      button.btn(class = gradientPosition, class = sizePosition)
    else
      button.btn(class = whitePosition, class = sizePosition)
      i.material-icons.arrow arrow_forward

