@import '/src/variables';

.btn {
  border-radius: 22px;
  cursor: pointer;
  @include h3Text;
  text-transform: uppercase;
}

.header_btn {
  &--white {
    @extend .white;
    width: 85px;
  }

  &--gradient {
    @extend .gradient;
    width: 196px;
  }
}

.body_btn {
  &--white {
    @extend .white;
  }

  &--gradient {
    @extend .gradient;
  }

  &--big {
    width: 320px;
  }

  &--small {
    width: 99px;
  }
}

.dim {
  opacity: 0.5;
}

.gradient {
  padding: {
    top: 9px;
    bottom: 10px;
    //left: 19px;
    //right: 20px;
  }
  color: white;
  background: $lgp;
  //border: 2px $lgp;
  border: 0;
  //background: white;
  &:hover {
    opacity: 0.5;
  }
}

.gradientBack {
  border-radius: 22px;
  background: $lgp;
  padding: 2px;
  &:hover {
    opacity: 0.5;
  }
}

.white {
  padding: 2px;
  border: 0;
  background: white;
  color: $p;
  padding: {
    top: 7px;
    bottom: 8px;
    //left: 18px;
    //right: 18px;
  }
}

.btn_and_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.arrow {
  position: relative;
  right: 34px;
  color: #FFFFFF;
}
