mixin like(options)
  -const { likes, isHovered } = options;

    if (isHovered)
      .like.like--hovered
        i.material-icons.like__img.like__img--hovered favorite
        .like__count.like__count--hovered
          | #{likes}
    else
      .like
        i.material-icons.like__img favorite_border
        .like__count
          | #{likes}
