mixin bulletList(header, data)
  .bulletList
    h3.bulletList__header
      |#{header}
    ul.bulletList__list.bullet-list
      each item in data
        li.bullet-item
          .bullet-item__img
          p.bullet-item__text
            |#{item}
