.footer
  .top
    .top__section
      img.top__section__logo(src="/src/UI_kit/headers_and_footers/images/logo.png")
      .top__section__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    .top__section
      .top__section__header
        |навигация
      .top__section__text О нас
      .top__section__text Новости
      .top__section__text Служба поддержки
      .top__section__text Услуги
    .top__section
      .top__section__header
        |о нас
      .top__section__text О сервисе
      .top__section__text Наша команда
      .top__section__text Вакансии
      .top__section__text Инвесторы
    .top__section
      .top__section__header
        |служба поддержки
      .top__section__text Соглашения
      .top__section__text Сообщества
      .top__section__text Связь с нами
    .top__section
      .top__section__header
        |подписка
      .footer__text Получайте специальные предложения и новости сервиса
  .bottom
    .bottom__copyright
      |Copyright © 2018 Toxin отель. Все права зачищены.
    .bottom__icons
      img.bottom__icons__item(src="/src/UI_kit/headers_and_footers/images/twitter.png")
      img.bottom__icons__item(src="/src/UI_kit/headers_and_footers/images/fb.png")
      img.bottom__icons__item(src="/src/UI_kit/headers_and_footers/images/ig.png")
