extends ../template/template.pug

block append style
  link(rel="stylesheet", href="/src/UI_kit/headers_and_footers/headers_and_footers.scss" type="text/css")

block content
  .container
    include ../../components/header/headerBefore.pug
    include ../../components/header/headerAfter.pug
    include ../../components/footer/footer
    include ../../components/copyright/copyright
