@import '/src/variables.scss';
@import '../../components/footer/footer';
@import '../../components/copyright/copyright';
@import '../../components/header/headerAfter.scss';
@import '../../components/header/headerBefore.scss';
@import '~material-design-icons/iconfont/material-icons.css';
//@import '~font-awesome/css/font-awesome';

html{
  background: #E5E5E5;
}

.container {
  padding-top: 62px;
  padding-bottom: 140px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
