mixin registration()
  form.registration
    h1.registration__title
      | Регистрация аккаунта
    .registration__name
      +input({
        type: 'text',
        size: 'big',
        placeholder: 'Имя',
        arrow: false,
        dropdown: {existence: false, open: false },
        title: '',
        hover: 'regular',
        clarification: '',
        isMasked: false,
      })
    .registration__surname
      +input({
        type: 'text',
        size: 'big',
        placeholder: 'Фамилия',
        arrow: false,
        dropdown: {existence: false, open: false },
        title: '',
        hover: 'regular',
        clarification: '',
        isMasked: false,
      })
    .registration__sex
      +radio('Мужчина', true)
      .registration__sex--last
        +radio('Женщина', false)
    .registration__birthday
      +input({
        type: 'text',
        size: 'big',
        placeholder: 'ДД.ММ.ГГГГ',
        arrow: false,
        dropdown: {existence: false, open: false },
        title: 'дата рождения',
        hover: 'regular',
        clarification: '',
        isMasked: false,
      })
    .registration__login
      +input({
        type: 'email',
        size: 'big',
        placeholder: 'Email',
        arrow: false,
        dropdown: {existence: false, open: false },
        title: 'данные для входа в сервис',
        hover: 'regular',
        clarification: '',
        isMasked: false,
      })
    .registration__password
      +input({
        type: 'password',
        size: 'big',
        placeholder: 'Пароль',
        arrow: false,
        dropdown: {existence: false, open: false },
        title: '',
        hover: 'regular',
        clarification: '',
        isMasked: false,
      })
    .registration__promo
      +toggle('Получать спецпредложения', false)
    .registration__btn
      +button({
        type: 'submit',
        positionInPage: 'body-btn',
        isGradient: true,
        text: 'зарегистрироваться',
        dim: '',
        size: 'big'
      })
    .registration__sign-in.sign-in
      p.sign-in__text
        | Уже есть аккаунт на Toxin
      .sign-in__btn
        +button({
          type: 'submit',
          positionInPage: 'body-btn',
          isGradient: false,
          text: 'войти',
          dim: '',
          size: 'small'
        })
