mixin registration()
  form.registration
    .registration__title
      | Регистрация аккаунта
    .registration__name
      +input('text', 'big', 'Имя', false, {
        existence: false,
        open: false
      }, '', 'regular')
    .registration__surname
      +input('text', 'big', 'Фамилия', false, {
        existence: false,
        open: false
      }, '', 'regular')
    .registration__sex
      +radio('Мужчина', true)
      .registration__sex--last
        +radio('Женщина', false)
    .registration__birthday
      +input('text', 'big', 'ДД.ММ.ГГГГ', false, {
        existence: false,
        open: false
      }, 'дата рождения', 'regular')
    .registration__login
      +input('email', 'big', 'Email', false, {
        existence: false,
        open: false
      }, 'данные для входа в сервис', 'regular')
    .registration__password
      +input('password', 'big', 'Пароль', false, {
        existence: false,
        open: false
      }, '', 'regular')
    .registration__promo
      +toggle('Получать спецпредложения', false)
    .registration__btn
      +button('submit', 'body-btn', true, 'зарегистрироваться', '', 'big')
    .registration__sign-in.sign-in
      .sign-in__text
        | Уже есть аккаунт на Toxin
      .sign-in__btn
        +button('button', 'body-btn', false, 'войти', '', 'small')
