mixin search()
  form.search(action="search.html")
    h1.search__title
      | Найдём номера под ваши пожелания
    +bookingData('ДД.ММ.ГГГГ', 'ДД.ММ.ГГГГ', 'Сколько гостей')
    .search__btn
      +button({
        type: 'submit',
        positionInPage: 'body-btn',
        isGradient: true,
        text: 'подобрать номер',
        dim: '',
        size:'big'
      })
