mixin search()
  form.search
    h1.search__title
      | Найдём номера под ваши пожелания
    +bookingData('ДД.ММ.ГГГГ', 'ДД.ММ.ГГГГ', 'Сколько гостей')
    .search__btn
      a(href='search.html')
        +button('submit', 'body-btn', true, 'подобрать номер', '', 'big')
