@import '../../fonts/fonts';

body {
  font-family: quicksand;
}

.container {
  margin-top: 120px;
  display: flex;
  justify-content: space-around;
}
.container__colors {
  display: flex;
  row-gap: 4px;
  flex-direction: column;
}

.container__text_types {
  display: flex;
  flex-direction: column;
}

.color_wrapper {
  display: flex;
  column-gap: 40px;
  align-items: flex-start;
}

.color_wrapper__demo {
  width: 70px;
  height: 70px;
  border-radius: 6px;
}

.color_wrapper__data {
  row-gap: 1px;
  column-gap: 2px;
  flex-direction: column;
}
