@import '/src/fonts/fonts.scss';

.container {
  //margin-top: 120px;
  display: flex;
  justify-content: space-around;

  &__colors {
    display: flex;
    row-gap: 4px;
    flex-direction: column;
  }

  &__text_types {
    display: flex;
    row-gap: 4px;
    flex-direction: column;
  }
}


.wrapper {
  display: flex;
  column-gap: 40px;
  align-items: flex-start;

  &__demo {
    width: 70px;
    height: 70px;
    border-radius: 6px;
  }

  &__data {
    font-family: 'Quicksand';
    row-gap: 1px;
    column-gap: 2px;
    flex-direction: column;
  }
}
