.header-footer {
  padding-bottom: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #E5E5E5;
}

.header-before {
  margin-top: 60px;
}

.header-after {
  margin-top: 40px;
}
