mixin people(img, title, text)
  .people
    img.people__img(src=`img/${img}` img="photo")
    .people__body.peoples-body
      h3.people-body__title
        | #{title}
      p.people-body__text
        | #{text}
