.btn {
  border-radius: 22px;
  cursor: pointer;
  @include h3Text;
  line-height: 15px;
  text-transform: uppercase;
}

.header-btn {
  &--white-small {
    @extend .white;
    width: 85px;
    height: 30px;
  }

  &--gradient-big {
    @extend .gradient;
    width: 192px;
    height: 34px;
  }
}

.body-btn {
  &--white-big {
    @extend .white;
    width: 316px;
    height: 40px;
  }

  &--white-small {
    @extend .white;
    width: 95px;
    height: 40px;
  }

  &--gradient-big {
    @extend .gradient;
    width: 320px;
    height: 44px;

    @include media-breakpoint-down(phone) {
      width: 250px;
    }
  }

  &--gradient-small {
    @extend .gradient;
    width: 99px;
    height: 44px;
  }
}

.dim {
  opacity: 0.5;
}

.gradient {
  color: white;
  background: $lg-purple;
  //border: 2px $lgp;
  border: 0;
  //background: white;
  &:hover {
    opacity: 0.5;
  }
}

.gradient-back {
  border-radius: 22px;
  padding: 2px;
  background: $lg-purple;

  &--dim {
    background: $lg-purple50;
  }

  &:hover {
    background: $lg-purple50;
  }
}

.white {
  border: 0;
  background: white;
  color: $purple;
}

.btn-and-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.arrow {
  position: relative;
  right: 34px;
  color: $color-white;
}
