extends ../templates/website
include ../../../components/components

block content
  .landing-content
    .landing-search
      +search()
    .landing-text
      |Лучшие номера для вашей работы, отдыха и просто вдохновения
