.landing-content {
  background-image: url('./img/background.jpg');
  background-position: bottom;
  height: 830px;
  background-size: cover;
}

.landing-search {
  padding-top: 70px;
  margin-left: 140px;
}

.landing-text {
  @include bodyText;
  color: $dark75;
  text-align: right;
  margin-right: 135px;
  margin-top: 318px;
  margin-left: auto;
  max-width: 270px;
}
