.landing-content {
  background-image: url('./img/background.jpg');
  background-position: bottom;
  height: 830px;
  background-size: cover;

  @include media-breakpoint-down(phone) {
    background: none;
  }
}

.landing-search {
  padding-top: 70px;
}

.landing-text {
  color: $dark75;
  text-align: right;
  margin-top: 318px;
  margin-left: auto;
  max-width: 270px;

  @include media-breakpoint-down(phone) {
    display: none;
  }
}
