.dropdown-menu {
  border-bottom: 1px solid $dark50;
  border-left: 1px solid $dark50;
  border-right: 1px solid $dark50;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 10px 20px $dark5;
  background: $color-white;

  &--small {
    width: 266px;
  }

  &--big {
    width: 320px;
  }

  &--long {
    height: 159px;
  }

  &--short {
    height: 119px;
  }

  &__btns {
    margin: 20px 5px 6px 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    margin: 20px 5px 6px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.dropdown-item {
  display: flex;
  justify-content: space-between;

  &__text {
    @include h3Text;
    text-transform: uppercase;
  }

  &__name {
    margin-top: 12px;
    margin-bottom: 10px;
    margin-left: 12px;
  }

  &__counter {
    display: flex;
    justify-content: flex-end;
    margin-top: 6px;
  }

  &__count {
    margin-top: 6px;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 15px;
  }

  &__modifier {
    width: 30px;
    border-radius: 50%;

    &--inactive {
      border: 1px solid $dark5;
    }

    &--active {
      border: 1px solid $dark25;
    }

    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      padding-top: 100%;
    }
  }

  &__symbol {
    position: relative;
    cursor: pointer;
    margin-right: 7px;

    &--minus {
      position: absolute;
      color: $dark50;
      left: 13px;
      top: 5px;
    }

    &--plus {
      position: absolute;
      color: $dark50;
      right: 10px;
      top: 5px;
    }
  }
}

.dropdown-btn {
  @include h3Text;
  text-transform: uppercase;
  color: $purple;
  cursor: pointer;
}
