.bookingData {
  display: flex;
  flex-direction: column;

  &__dates {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
    margin-bottom: 20px;

    @include media-breakpoint-down(phone) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 0;
    }
  }

  &__guests {
    margin-left: 30px;

    @include media-breakpoint-down(phone) {
      margin: auto;
      width: 280px;
    }
  }
}

.arrival {
  margin-right: 20px;

  @include media-breakpoint-down(phone) {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

.guests-dropdown {

  &--shown {
    position: absolute;
    z-index: 3;
  }

  &--hidden {
    display: none;
  }
}
