include ./social

mixin footer()
  .footer-wrapper.footer-wrapper__top
    .footer.container
      .footer-top
        .footer-top__section
          img.footer-logo(src="img/logo-big.svg" alt="logo")
          p.footer-text--dark
            |Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .footer-top__section
          h3.footer-header
            |навигация
          h3.footer-text
            |О нас
          h3.footer-text
            |Новости
          h3.footer-text
            |Служба поддержки
          h3.footer-text
            |Услуги
        .footer-top__section
          .footer-header
            |о нас
          .footer-text
            |О сервисе
          .footer-text
            |Наша команда
          .footer-text
            |Вакансии
          .footer-text
            |Инвесторы
        .footer-top__section
          .footer-header
            |служба поддержки
          .footer-text
            |Соглашения
          .footer-text
            |Сообщества
          .footer-text
            |Связь с нами
        .footer-top__section
          h3.footer-header
            |подписка
          lable.footer-text--dark
            |Получайте специальные предложения и новости сервиса
            .input-and-icon
              +input({
                type: 'email',
                size: 'small',
                placeholder: 'Email',
                arrow: true,
                dropdown: { existence: false, open: false },
                title: '',
                hover: 'regular',
                clarification: '',
                isMasked: false,
              })
  .footer-wrapper.footer-wrapper__bottom
    .footer.container
      .footer-bottom
        p.footer-bottom__copyright
          |Copyright © 2018 Toxin отель. Все права зачищены.
        +social()
