include ./social

mixin footer()
  .footer
    .footer-top
      .footer-top__section
        img.footer-logo(src="img/logo-big.svg" alt="logo")
        .footer-text--dark
          |Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      .footer-top__section
        .footer-header
          |навигация
        .footer-text
          |О нас
        .footer-text
          |Новости
        .footer-text
          |Служба поддержки
        .footer-text
          |Услуги
      .footer-top__section
        .footer-header
          |о нас
        .footer-text
          |О сервисе
        .footer-text
          |Наша команда
        .footer-text
          |Вакансии
        .footer-text
          |Инвесторы
      .footer-top__section
        .footer-header
          |служба поддержки
        .footer-text
          |Соглашения
        .footer-text
          |Сообщества
        .footer-text
          |Связь с нами
      .footer-top__section
        .footer-header
          |подписка
        lable.footer-text--dark
          |Получайте специальные предложения и новости сервиса
          .input-and-icon
            +input('email', 'small', 'Email', true, { existence: false }, '', 'regular')
    .footer-bottom
      .footer-bottom__copyright
        |Copyright © 2018 Toxin отель. Все права зачищены.
      +social()
