mixin signIn ()
  form.signIn
    .signIn__title
      | Войти
    .signIn__email
      +input('email', 'big', 'Email', false, {
        existence: false,
        open: false
      }, '', 'regular')
    .signIn__password
      +input('password', 'big', 'Пароль', false, {
        existence: false,
        open: false
      }, '', 'regular')
    .signIn__btn
      +button('submit', 'body-btn', true, 'Войти', '', 'big')
    .signIn__creating-acc.creating-acc
      .creating-acc__text
        | Нет аккаунта на Toxin?
      .creating-acc__btn
        +button('button', 'body-btn', false, 'создать', '', 'small')
