mixin signIn ()
  form.signIn
    h1.signIn__title
      | Войти
    .signIn__email
      +input({
        type: 'email',
        size: 'big',
        placeholder: 'Email',
        arrow: false,
        dropdown: {existence: false, open: false },
        title: '',
        hover: 'regular',
        clarification: '',
        isMasked: false,
      })
    .signIn__password
      +input({
        type: 'password',
        size: 'big',
        placeholder: 'Пароль',
        arrow: false,
        dropdown: {existence: false, open: false },
        title: '',
        hover: 'regular',
        clarification: '',
        isMasked: false,
      })
    .signIn__btn
      +button({
        type: 'submit',
        positionInPage: 'body-btn',
        isGradient: true,
        text: 'Войти',
        dim: '',
        size: 'big'
      })
    .signIn__creating-acc.creating-acc
      p.creating-acc__text
        | Нет аккаунта на Toxin?
      .creating-acc__btn
        +button({
          type: 'button',
          positionInPage: 'body-btn',
          isGradient: false,
          text: 'создать',
          dim: '',
          size: 'small'
        })
