mixin signIn ()
  form.signIn
    .signIn__title
      | Войти
    .signIn__email
      +input({
        type: 'email',
        size: 'big',
        placeholder: 'Email',
        arrow: false,
        dropdown: {existence: false, open: false},
        title: '',
        hover: 'regular',
        clarification: '',
        isMasked: false,
      })
    .signIn__password
      +input({
        type: 'password',
        size: 'big',
        placeholder: 'Пароль',
        arrow: false,
        dropdown: {existence: false, open: false},
        title: '',
        hover: 'regular',
        clarification: '',
        isMasked: false,
      })
    .signIn__btn
      +button('submit', 'body-btn', true, 'Войти', '', 'big')
    .signIn__creating-acc.creating-acc
      .creating-acc__text
        | Нет аккаунта на Toxin?
      .creating-acc__btn
        +button('button', 'body-btn', false, 'создать', '', 'small')
