.input-area {
  display: flex;
  flex-direction: column;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--big {
    width: 320px;

    @include media-breakpoint-down(phone) {
      width: 250px;
    }
  }

  &--medium {
    width: 266px;
  }

  &--small {
    width: 260px;
  }

  &--xsmall {
    width: 150px;
  }
}

.input-top {
  &__header {
    @include h3Text;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &__clarification {
    font-size: 12px;
    text-transform: uppercase;
    color: $dark50;
  }
}

.input {
  box-sizing: border-box;
  width: 100%;
  height: 44px;
  padding-left: 15px;

  &--absolute {
    position: relative;
  }

  &--regular {
    border: 1px solid $dark25;

    &::placeholder {
      color: $dark25;
    }
  }

  &--dropdown {
    border: 1px solid $dark25;
    background: $color-white;

    &::placeholder {
      color: $dark75;
    }
  }

  &--hovered {
    border: 1px solid $dark50;

    &::placeholder {
      color: $dark75;
    }
  }

  &--full-border-radius {
    border-radius: 4px;
  }

  &--half-border-radius {
    border-radius: 4px 4px 0 0;
  }

  &:hover {
    border: 1px solid $dark50;

    &::placeholder {
      color: $dark75;
    }
  }
}

.input-area__bottom {
  position: relative;
}

.input-arrow {
  position: absolute;
  right: 10px;
  background: $lg-purple;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.input-expansion {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 24px;

  &--bright {
    background: $dark75;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &--dim {
    background: $dark50;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
