.signIn-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./img/back.jpg');
  background-position: center;
  min-height: 702px;
  height: 100%;
  background-size: cover;
}
