.signIn-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./img/backImg.jpg');
  background-position: bottom;
  height: 702px;
  background-size: cover;

  @include media-breakpoint-down(phone) {
    background: none;
  }
}
