.header
  img.header__logo(src="/src/components/images/logo.png")
  .header__links
    p.header__links__chosen О нас
    .icon_down
      p.header__links__regular Услуги
      i.material-icons.header__links__regular keyboard_arrow_down
    p.header__links__regular Вакансии
    p.header__links__regular Новости
    .icon_down
      p.header__links__regular Соглашения
      i.material-icons.header__links__regular keyboard_arrow_down
    block content
