mixin details(title, text, img)
  .details
    i.material-icons.details__img #{img}
    .details__body.details-body
      .details-body__title
        |#{title}
      .details-body__text
        | #{text}
