.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 20px $dark5;
  background: white;
  width: 100vw;
  height: 70px;
}

.header__burger {
  margin-left: 50px;
  cursor: pointer;

  @media (min-width: 1201px) {
    display: none;
  }
}

.header-logo {
  margin-left: 140px;

  @media (max-width: 1201px) {
    margin-right: 50px;
    margin-left: 0;
  }
}

.header-links {
  display: flex;
  @include bodyText;
  align-items: center;

  @media (max-width: 1200px) {
    display: none;
  }
}

.header-link {
  margin-right: 21px;
  cursor: pointer;
  opacity: 0.5;

  &:hover {
    @include h3Text;
    opacity: 0.75;
    font-size: 14px;
  }
}

.icon_down {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns {
  display: flex;
  margin-right: 120px;
}

.header-button {
  margin-right: 21px;
}

.signs {
  @include bodyText;
  display: flex;
  align-items: center;
  margin-right: 140px;

  &__line {
    font-weight: 100;
    opacity: 0.1;
    font-size: 30px;
    width: 1px;
  }

  &__name {
    opacity: 0.5;
  }
}
