mixin header(type, registrationLink, signInLink)
  .header
    i.material-icons.header__burger menu
    img.header-logo(src="img/logo-big.svg" alt="logo")
    .header-links
      p.header-link.header-link--chosen О нас
      .icon_down.header-link.header-link--regular
        p Услуги
        i.material-icons keyboard_arrow_down
      p.header-link.header-link--regular Вакансии
      p.header-link.header-link--regular Новости
      .icon_down.header-link.header-link--regular.header-link--last
        p Соглашения
        i.material-icons keyboard_arrow_down

      if type === 'before'
        .btns
          .header-link
            a(href=signInLink)
              +button('button', 'header-btn', false, 'Войти', '', 'small')
          .header-link
            a(href=registrationLink)
              +button('button', 'header-btn', true, 'Зарегистрироваться', '', 'big')
      else
        .signs
          .signs__line.header-link
            | |
          .signs__name.header-link
            | Юлий Цезарь
