.container
  .container__header Найдём номера под ваши пожелания
  lable.container__input_area прибытие

  lable.container__input_area выезд

  lable.container__input_area гости

  button.container__button
