.copyright
  img.copyright__logo(src="/src/components/images/logo.png")
  .copyright__text Copyright © 2018 Toxin отель. Все права зачищены.
  .copyright__icons
    img.copyright__icons__item(src="/src/UI_kit/headers_and_footers/images/twitter.png")
    img.copyright__icons__item(src="/src/UI_kit/headers_and_footers/images/fb.png")
    img.copyright__icons__item(src="/src/UI_kit/headers_and_footers/images/ig.png")
