.link-btn {
  @include h3Text;
  text-transform: uppercase;
  cursor: pointer;

  &--regular {
    color: $purple;

    &:hover {
      color: $dark50;
    }
  }

  &--hovered {
    color: $dark50;
  }
}
