extends ../templates/ui-kit-template

block variables
  mixin color(color, hex, opacity)
    - const color_opacity = opacity / 100 || 1
      .color_wrapper
        .color_wrapper__demo(style={ "background": hex, "opacity": color_opacity })
        .color_wrapper__data
          - const header = (opacity) ? color + ' ' + opacity + '%' : color
          | #{header}
          p.hex #{hex}

  mixin text(name, text, font, size, weight, transform)
    - const text_transform = transform || 'none'
      .text_wrapper
        .text_wrapper__demo(style={ "font-size": size }) #{name}
        .text_wrapper__data(style={"font-size": size, "font-weight": weight,
          "font-family": font, "text-transform": text_transform}) #{text}

block content
  .colors-text
    .colors-text__colors
      - const color_data = [{ name: 'Dark Shade', hex: '#1F2041', opacity: 100 }, { name: 'Dark Shade', hex: '#1F2041', opacity: 75 }, { name: 'Dark Shade', hex: '#1F2041', opacity: 50 }, { name: 'Dark Shade', hex: '#1F2041', opacity: 25 }, { name: 'Dark Shade', hex: '#1F2041', opacity: 5 }, { name: 'Purple', hex: '#BC9CFF' }, { name: 'Green', hex: '#6FCF97' }]
        each color in color_data
          +color(color.name, color.hex, color.opacity)
    .colors-text__text
      - const text_data = [{ name: 'H1', text: 'This one is the sub-section or widget title', font: 'Quicksand', size: '24px', weight: 700 }, { name: 'H2', text: 'Next one is the item title inside widgets', font: 'Quicksand', size: '19px', weight: 700 }, { name: 'H3', text: 'This is a label or CTA text', font: 'Montserrat', size: '12px', weight: 700, 'transform': 'uppercase' }, { name: 'Body', text: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.', font: 'Montserrat', size: '14px', weight: 400 }]
        each text in text_data
          +text(text.name, text.text, text.font, text.size, text.weight, text.transform)
