//@import '../../main.scss';
//@import '../../../public/styles/variables';

.colors-text {
  margin-top: 63px;
  margin-left: 150px;
  display: grid;
  grid-template-areas: 'colors text';
  grid-template-columns: 40% 60%;
  column-gap: 100px;
  background: #E5E5E5;

  &__colors {
    grid-area: colors;
    display: grid;
    row-gap: 20px;
  }

  &__text {
    grid-area: text;
    display: flex;
    row-gap: 36px;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 0;
    margin-top: 0;
  }
}


.color_wrapper {
  display: grid;
  grid-template-areas: 'demo data';
  grid-template-columns: 80px 340px;
  column-gap: 30px;

  &__demo {
    grid-area: demo;
    width: 70px;
    height: 70px;
    border-radius: 6px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }

  &__data {
    grid-area: data;
    @include h2Text;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    //padding-top: 10px;
  }
}


.hex {
  padding-top: 4px;
  @include anotherText;
}

.text_wrapper {
  display: grid;
  grid-template-areas: 'demo data';
  grid-template-columns: 80px 340px;
  column-gap: 20px;
  //padding-bottom: 15px;

  &__demo {
    grid-area: demo;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    @include bodyText;
    opacity: 0.25;
    //padding-top: 4px;
    //padding-bottom: 2px;
  }

  &__data {
    grid-area: data;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    //padding-bottom: 50px;
  }
}
