extends ../templates/ui-kit-template
include ../../components/components

block content
  .cards
    .cards-left
      .cards-left__item-1
        +search()
      .cards-left__item-2
        +registration()
    .cards-middle
      .cards-middle__item-1
        +booking()
      .cards-middle__item-2
        +signIn()
    .cards-right
      .cards-right__item-1
      .cards-right__item-2
      .cards-right__item-3
