extends ../templates/website
include ../../../components/components

block content
  .search-wrapper
    .search-content.container
      .search-content__filters
        .filter.filter__date
          +input({
            type: 'text',
            size: 'medium',
            placeholder: '19 авг - 23 авг',
            arrow: false,
            dropdown: { existence: true, open: false },
            title: 'даты пребывания в отеле',
            hover: 'regular',
            clarification: '',
            isMasked: false,
          })
        .filter.filter__guests
          +input({
            type: 'text',
            size: 'medium',
            placeholder: '3 гостя, 1 младенец',
            arrow: false,
            dropdown: {existence: true, open: false },
            title: 'гости',
            hover: 'regular',
            clarification: '',
            isMasked: false,
          })
        .filter.filter__rools
          +checkbox({
            buttons: true, closed: false, data: [
              {rich: false, header: '', text: 'Можно курить'},
              {rich: false, header: '', text: 'Можно с питомцами'},
              {rich: false, header: '', text: 'Можно пригласить гостей (до 10 человек)'},
            ]
          }, 'Правила дома')
        .filter.filter__accessibility
          +checkbox({
            buttons: true, closed: false, data: [
              {rich: true, header: 'Широкий коридор', text: 'Ширина коридоров в номере не\u00A0менее 91 см.'},
              {
                rich: true,
                header: 'Помощник для инвалидов',
                text: 'На 1 этаже вас встретит специалист и проводит до номера.'
              },
            ]
          }, 'Доступность')
        .filter.filter__comfort
          +input({
            type: 'text',
            size: 'medium',
            placeholder: '2 спальни, 2 кровати...',
            arrow: false,
            dropdown: {existence: true, open: true },
            title: 'удобства номера',
            hover: 'regular',
            clarification: '',
            isMasked: false,
          })
          .comfort-dropdown.comfort-dropdown--hidden
            +dropdown([{name: 'спальни', count: 2}, {name: 'кровати', count: 2}, {
              name: 'ванные комнаты',
              count: 0
            }], 'small', false, false)
        .filter.filter__additional-comfort.filter__additional-comfort--shown
          +checkbox({ existence: true, closed: true, data: [] }, 'дополнительные удобства')
        .comfort-checkbox.comfort-checkbox--hidden
          +checkbox({
            buttons: false, closed: false, data: [
              {rich: false, header: '', text: 'Завтрак'},
              {rich: false, header: '', text: 'Письменный стол'},
              {rich: false, header: '', text: 'Стул для кормления'},
              {rich: false, header: '', text: 'Кроватка'},
              {rich: false, header: '', text: 'Телевизор'},
              {rich: false, header: '', text: 'Шампунь'},
            ]
          }, 'дополнительные удобства')
      .search-content__rooms
        .rooms-header
          |Номера, которые мы для вас подобрали
        .rooms-cards
          -
            const rooms = [
              {
                img: 'room1.jpg',
                number: 888,
                isLux: true,
                price: '9 990',
                stars: 5,
                reviewsCount: 145,
                withArrows: true,
              },
              {
                img: 'room2.jpg',
                number: 840,
                isLux: false,
                price: '9 900',
                stars: 4,
                reviewsCount: 65,
                withArrows: false,
              },
              {
                img: 'room3.jpg',
                number: 980,
                isLux: true,
                price: '8 500',
                stars: 3,
                reviewsCount: 35,
                withArrows: false,
              },
              {
                img: 'room4.jpg',
                number: 856,
                isLux: false,
                price: '7 300',
                stars: 5,
                reviewsCount: 19,
                withArrows: false,
              },
              {
                img: 'room5.jpg',
                number: 740,
                isLux: false,
                price: '6 000',
                stars: 4,
                reviewsCount: 44,
                withArrows: false,
              },
              {
                img: 'room6.jpg',
                number: 982,
                isLux: false,
                price: '5 800',
                stars: 3,
                reviewsCount: 56,
                withArrows: false,
              },
              {
                img: 'room7.jpg',
                number: 678,
                isLux: false,
                price: '5 500',
                stars: 5,
                reviewsCount: 45,
                withArrows: false,
              },
              {
                img: 'room8.jpg',
                number: 450,
                isLux: false,
                price: '5 300',
                stars: 4,
                reviewsCount: 39,
                withArrows: false,
              },
              {
                img: 'room9.jpg',
                number: 350,
                isLux: false,
                price: '5 000',
                stars: 3,
                reviewsCount: 77,
                withArrows: false,
              },
              {
                img: 'room10.jpg',
                number: 666,
                isLux: false,
                price: '5 000',
                stars: 5,
                reviewsCount: 25,
                withArrows: false,
              },
              {
                img: 'room11.jpg',
                number: 444,
                isLux: false,
                price: '5 000',
                stars: 3,
                reviewsCount: 15,
                withArrows: false,
              },
              {
                img: 'room12.jpg',
                number: 352,
                isLux: false,
                price: '5 000',
                stars: 3,
                reviewsCount: 55,
                withArrows: false,
              },
            ];
          each room in rooms
            .rooms-cards__card
              +preview(room)
        .pages-list
          +pagination()
